In [12]:
from dataframe import df, pd, np

print(df)

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [13]:
pivot_table = pd.pivot_table(
    df, 
    values= 'Quantity', 
    index='Country',
    columns='StockCode',
    aggfunc='sum'
)

print(pivot_table)

StockCode             10002  10080  10120  ...  gift_0001_40  gift_0001_50    m
Country                                    ...
Australia               NaN    NaN    NaN  ...           NaN           NaN  NaN
Austria                 NaN    NaN    NaN  ...           NaN           NaN  NaN
Bahrain                 NaN    NaN    NaN  ...           NaN           NaN  NaN
Belgium                 NaN    NaN    NaN  ...           NaN           NaN  NaN
Brazil                  NaN    NaN    NaN  ...           NaN           NaN  NaN
Canada                  NaN    NaN    NaN  ...           NaN           NaN  NaN
Channel Islands         NaN    NaN    NaN  ...           NaN           NaN  NaN
Cyprus                  NaN    NaN    NaN  ...           NaN           NaN  NaN
Czech Republic          NaN    NaN    NaN  ...           NaN           NaN  NaN
Denmark                 NaN    NaN    NaN  ...           NaN           NaN  NaN
EIRE                   12.0    NaN    NaN  ...           NaN           NaN  NaN
European Community      NaN    NaN    NaN  ...           NaN           NaN  NaN
Finland                 NaN    NaN    NaN  ...           NaN           NaN  NaN
France                372.0    NaN   10.0  ...           NaN           NaN  NaN
Germany                 1.0    NaN    NaN  ...           NaN           NaN  NaN
Greece                  NaN    NaN    NaN  ...           NaN           NaN  NaN
Hong Kong               NaN    NaN    NaN  ...           NaN           NaN  NaN
Iceland                 NaN    NaN    NaN  ...           NaN           NaN  NaN
Israel                  NaN    NaN    NaN  ...           NaN           NaN  NaN
Italy                   NaN    NaN    NaN  ...           NaN           NaN  NaN
Japan                   1.0    NaN    NaN  ...           NaN           NaN  NaN
Lebanon                 NaN    NaN    NaN  ...           NaN           NaN  NaN
Lithuania               NaN    NaN    NaN  ...           NaN           NaN  NaN
Malta                   NaN    NaN    NaN  ...           NaN           NaN  NaN
Netherlands             NaN    NaN    NaN  ...           NaN           NaN  NaN
Norway                  NaN    NaN    NaN  ...           NaN           NaN  NaN
Poland                  NaN    NaN    NaN  ...           NaN           NaN  NaN
Portugal                NaN    NaN    NaN  ...           NaN           NaN  NaN
RSA                     NaN    NaN    NaN  ...           NaN           NaN  NaN
Saudi Arabia            NaN    NaN    NaN  ...           NaN           NaN  NaN
Singapore               NaN    NaN    NaN  ...           NaN           NaN  NaN
Spain                  24.0    NaN    NaN  ...           NaN           NaN  NaN
Sweden                  NaN    NaN    NaN  ...           NaN           NaN  NaN
Switzerland            12.0    NaN    NaN  ...           NaN           NaN  NaN
USA                     NaN    NaN    NaN  ...           NaN           NaN  NaN
United Arab Emirates    NaN    NaN    NaN  ...           NaN           NaN  NaN
United Kingdom        615.0  495.0  183.0  ...           3.0           4.0  1.0
Unspecified             NaN    NaN    NaN  ...           NaN           NaN  NaN

[38 rows x 4070 columns]

In [14]:
df_test = pd.DataFrame({
    'A': ['foo', 'bar', 'baz'],
    'b': [1, 2, 3],
    'c': [4, 5, 6]
})

In [15]:
df_stacked = df_test.stack()

print(df_stacked)

0  A    foo
   b      1
   c      4
1  A    bar
   b      2
   c      5
2  A    baz
   b      3
   c      6
dtype: object

In [16]:
df_unstacked = df_stacked.unstack()

print(df_unstacked)

     A  b  c
0  foo  1  4
1  bar  2  5
2  baz  3  6

como crees que podemos utilizar las pivot tables, o como tambien podemos apilar o desapilar la informacoin par appoder mostrar